:root{
    --tertiary: #ffffff;
    --text:#000;
    --greyText:#0000003f;
    --primary:#4071f4;
    --secondary: #4071f435;
    --primDark: #3156bc;
    --blackBg:#232323;
    --whitebg:rgb(235, 235, 235);
    --transparent:rgba(255, 255, 255, 0.15);
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 25px 0 0 0;
    padding: 20px 0 0 0;
    overflow-x: hidden;
    background-color: var(--tertiary);
    /* scroll-snap-type */
    transition: 1s;
}

.shape{
    width: 800px;
    height: 800px;
    background: var(--primary);
    position: absolute;
    /* top: -100px; */
    left: -250px;
    opacity: .1;
    z-index: -1;
    animation: wave 4.0s ease-in-out infinite;
}

#nav{
    width: 100vw;
    /* background-color: var(--tertiary); */
    background: var(--transparent);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid var(--whitebg);
    position: fixed;
    top: 0;
    height: 75px; 
    z-index: 10;
    /* display: flex; */
}

#nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
    padding: 0;
    width: 50%;
    float: right;
    cursor: none;
}

#nav ul li:hover{
    transition:.5s;
    transform: scale(1.1);
}
#nav ul li::after{
    content: "";
    display: block;
    height: 4px;
    width: 0%;
    background-color: var(--primary);
}
#nav ul li:hover::after{
    width: 100%;
    transition:.3s;
}

#nav ul li:nth-child(5):hover::after, #nav ul li:nth-last-child(1):hover::after{
    width: 0;
}

.color{
    color: var(--text);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

}

#switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

#switch input { 
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--tertiary);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* input:checked  #designation{
    /* background-color: var(--blackBg); */
    /* color: var(--orange); */
/* } */

.dark-mode{
    background-color: var(--blackBg);
}

#container{
    /* background-color: var(--tertiary); */
    font-family: Arial, Helvetica, sans-serif;
    /* scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll; */
}

#home{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    /* scroll-snap-align: start; */
}

#content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#designation{
    color: var(--primary);
    /* max-width: 50vw; */
    /* font-size: 29px; */
    font-size: 29px;
    line-height: 40px;
    /* font-size: unset; */
}

#designation h2, #name h1, #hello h3{
    margin: 10px 0;
}

#name{
    color: var(--text);
    font-size: 47px;
    line-height: 80px;
}

#hello{
    color: var(--text);
    font-size: 29px;
}

#photo{
    display: flex;
    justify-content: center;
    /* animation: appear 5s linear; */
    
    /* height: 500px; */
}

#top{
    height: 300px;
    width: auto;
    /* margin-top: -90px; */
}
#top img{
    animation: wave 4.0s ease-in-out infinite;
    margin-top: -110px;
    height: auto;
    width: 450px;
    /* border-radius: 50px; */
}

#bottom{
    z-index: -1;
    position: absolute;
    overflow: hidden;
    height: 450px;
    width: 425px;
    background-color: var(--primary);
    animation: wave 4.0s ease-in-out infinite;
}

.resume{
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--tertiary);
    background-color: var(--primary);
    box-shadow: var(--secondary), 0 2px 2px 0;
    border-radius: 25px;
    border: var(--primary);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.resumeDiv{
    width: 150px;
}

.resumeDiv .resume{
    margin-top: 20px;
}

#about{
    height: auto;
    width: 100vw;
    padding: 25px;
    background-color: var(--secondary);
    display: block;
    /* scroll-snap-align: start; */
}

.heading{
    color: var(--primary);
    font-size: 40px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: side 5s linear;
    animation-timeline: view(0%);
    animation-range: entry 0 cover 30%;
}

.hbottom{
    position: absolute;
    font-size: 100px;
    font-family: "Dancing Script", cursive;
    opacity: .15;
    z-index: -1;
}

#upper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

/* .highlight{
    color: var(--primary);
} */

#pic{
    float: left;
    height: auto;
    display: flex;
    margin: 50px;
    justify-content: center;
    align-items: center;
}

#pic img{
    width: 400px;
    height: 530px;
    border-radius: 20px;
    display: flex;
}

#c1, #c2{
    z-index: -1;
    border-radius: 20px;
    width: 400px;
    height: 530px;
    position: absolute;
}

#c1{
    background-color: var(--primary);
    rotate: 15deg;
    animation: rotate1 3s infinite ease-in-out;
}

#c2{
    background-color: var(--secondary);
    rotate: -15deg;
    animation: rotate2 3s infinite ease-in-out;
}

.sectionText{
    width: 60vw;
    padding: 30px;
    text-align: justify;
    font-size: 18px;
    color: var(--text);
}

#aboutText, .highlight{
    font-size: 22px;
    display: inline;
    padding: 50px;
    color: var(--greyText);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-clip: text;
    animation: scrollRevel linear forwards;
}

#aboutText{
    background-image: linear-gradient(90deg, var(--text),var(--text));
    animation-timeline: view();
    animation-range-start: contain;
    animation-range-end: contain 40vh;
}

.highlight{
    background-image: linear-gradient(90deg, var(--primary),var(--primary));
    animation-timeline: view();
}

.highlight:nth-child(1){
    animation-range-start: contain 200px;
    animation-range-end: contain 297px;
}

.highlight:nth-child(2){
    animation-range-start: contain 287px;
    animation-range-end: contain 343px;
}

#techStack{
    line-height: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

#techStack ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#techStack ul li{
    height: 100px;
}

#techStack ul p{
    color: var(--primary);
    margin: 0 30px;
    cursor: pointer;
    
}

#techStack ul img{
    height: 50px;
    border-radius: 10px;
}


#techStack ul li:hover{
    transform: scale(1.15);
    transition: .2s;
}

#techStack ul li .popover {
    height: auto;
    width: auto;
    background: var(--primary);
    color: var(--tertiary);
    transition: 0.2s;
    float: top;
    position: relative;
    visibility: hidden;
    bottom: 10px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
}

#techStack ul li:hover .popover,
.popover:hover {
    width: 80px;
    visibility: visible;
    overflow: visible;
}

#certi{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}

#certificates{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* overflow-x: scroll; */
    /* overflow-y: visible; */
    height: auto;
    width: 90vw;
    align-items: center;
    line-height: 5px
}

.title{
    display: flex;
    text-align: justify;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    width: 20%;
    color: var(--tertiary);
    margin: 45px;
}

#low{
    height: 55vh;
    width: 33vw;
    position: absolute;
    right: -13vw;
    border-radius: 30px;
    /* rotate: 45deg; */
    box-shadow: inset -20px 0px 100px #000;
    background-color: var(--primary);
    z-index: -10;
    border-radius: 70% 30% 72% 28% / 27% 61% 39% 73%;
    animation: wave 5s ease-in-out infinite;
}

.flip-container{

  width: 350px;
  height:450px;
  background-color:transparent;
  border-radius: 10px;
  perspective: 1200px;
  margin: 45px;
}

/* Flip Inner Container */
.flip-inner-container{
  position: relative;
  width: 100%;
  height: 95%;
  line-height: 25px;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  /* width: 350px; */

}
/* add hover to Flip horizonally */
.flip-container:hover .flip-inner-container{
  transform: rotateY(180deg);
}

/* position front and back */

.flip-front,
.flip-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* background-color: green; */
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* flip  front from Start Here */
.flip-front{
    background: var(--primary);
    color: #ffffff;
    padding: 5px;
}

.flip-front img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;  
  margin: auto;
  margin-bottom: 10px;
}

.platform{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.platform img{
  margin-top: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #000000;
  margin: 0;
  padding: 10px;
}

.platform h3{
    font-size: 30px;
    font-weight: bold;
}

.flip-front h6{
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--tertiary);
  
}

.flip-back{
    background: var(--primary);
    color: var(--tertiary);
    transform: rotateY(180deg);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}   

.circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle img{
    height: 45px;
}

#showAll{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
  position: relative;
  cursor: pointer;
  padding: 16px 30px;
  font-size: 1.5rem;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 16px;
  text-shadow: 0 0 15px var(--primary);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.5s;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 0px var(--primary);
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary);
  z-index: -1;
  border-radius: 16px;
  transform: scale(0);
  transition: 0.5s;
}

.button:hover::before {
  transform: scale(1);
  transition-delay: 0.5s;
  box-shadow: 0 0 10px var(--primary),
    0 0 30px var(--primary),
    0 0 60px var(--primary);
}

.button span {
  position: absolute;
  background: var(--primary);
  pointer-events: none;
  border-radius: 2px;
  box-shadow: 0 0 10px var(--primary),
    0 0 20px var(--primary),
    0 0 30px var(--primary),
    0 0 50px var(--primary),
    0 0 100px var(--primary);
  transition: 0.5s ease-in-out;
  transition-delay: 0.25s;
  width: 25svw;
  height: 4px;
}

.button:hover span {
  opacity: 0;
  transition-delay: 0s;
  transform: translateX(0);
}

.button span:nth-child(1) {
  top: calc(50% - 2px);
  left: -28vw;
  transform-origin: left;
}

.button:hover span:nth-child(1) {
  left: 50%;
}

.button span:nth-child(2) {
  top: calc(50% - 2px);
  right: -28vw;
  transform-origin: right;
}

.button:hover span:nth-child(2) {
  right: 50%;
  width: 5vw;
}

.button:hover span:nth-child(2) {
  top: 50%;
  width: 5vw;
}

#education{
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    margin-top: 50px;
    /* margin: 100px;
    margin-left: -100px; */
}

.edu{
    color: var(--text);
    width: 20%;
    display: flex;
    justify-content: center;
}

.edu p{
    display: flex;
    font-size: 17px;
    text-align: justify;
}

.card{
    width: 80%;
    height: 300px;
    display: flex;
    margin: 30px 35px 30px 50px;
    background-color: white;
    box-shadow: 5px 5px 19px 0px black;
    overflow: hidden;
}

.card:hover{
    box-shadow: 10px 10px 25px 0px black;
    transform: scale(1.01);
    transition: .3s;
}

.card h2{
    font-size: 32px;
    color: var(--primary);
    margin: 5px;
}

.card p{
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    color: var(--text);
}

.card h3{
    font-size: 25px;
    font-weight: 100;
    color: green;
    margin: 5px;
}

.img img{
    /* width: 100%; */
    width: 400px;
    height: 100%;
    /* height: 250px; */
    margin: 0 20px 0 0;
    object-fit: cover;
}

.details{
    margin: 15px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

/* #project{
    height: 100vh;
} */

#contact{
    background: var(--whitebg);
    /* height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

#contactParent span{
    display: flex;
    position: absolute;
    height: 100px;
    width: 100px;
    color: transparent;
    box-shadow: 0 0 10px var(--primary),
                0 0 20px var(--primary),
                0 0 30px var(--primary),
                0 0 40px var(--primary);
    animation: box linear infinite;
    /* overflow-y: hidden; */
}

#contactParent span:nth-child(1){
    left: 60px;
    scale: .5;
    animation-duration:5s;
    animation-delay: 2s;
}
#contactParent span:nth-child(2){
    left: 10%;
    scale: .7;
    animation-duration:3s;
    animation-delay: 1.2s;
}
#contactParent span:nth-child(3){
    left: 80%;
    scale: .9;
    animation-duration:6s;
    animation-delay: .6s;
}
#contactParent span:nth-child(4){
    left: 37%;
    scale: .4;
    animation-duration:2s;
    animation-delay: 0s;
}
#contactParent span:nth-child(5){
    left: 65%;
    scale: 1.2;
    animation-duration:2.5s;
    animation-delay: .2s;
}
#contactParent span:nth-child(6){
    left: 12%;
    scale: .3;
    animation-duration:3.7s;
    animation-delay: 2.3s;
}
#contactParent span:nth-child(7){
    left: 29%;
    scale: .8;
    animation-duration:4.2s;
    animation-delay: 3s;
}
#contactParent span:nth-child(8){
    left: 61%;
    scale: 1.1.;
    animation-duration:4.8s;
    animation-delay: 3.2s;
}
#contactParent span:nth-child(9){
    left: 20%;
    scale: 1;
    animation-duration:3.9s;
    animation-delay: 1s;
}
#contactParent span:nth-child(10){
    left: 46%;
    scale: 1.4;
    animation-duration:5.6s;
    animation-delay: 0s;
}
#contactParent span:nth-child(11){
    left: 51%;
    scale: .7;
    animation-duration:5.5s;
    animation-delay: .39s;
}
#contactParent span:nth-child(12){
    left: 90%;
    scale: .6;
    animation-duration:2.6s;
    animation-delay: 2.6s;
}
#contactParent span:nth-child(13){
    left: 2%;
    scale: .6;
    animation-duration:2.6s;
    animation-delay: 2.7s;
}

#contact .heading{
    width: 25vw;
    font-size: 35px;
    margin: 50px;
}

#contact .hbottom{
    font-size: 80px;
}

.form{
    width: 50vw;
    height: 100vh;
    border: 10px var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
}

.formBox{
    padding: 50px;
    background: var(--transparent);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    animation: appear 10s linear;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
}

.formBox img{
    height: 250px;
}

form{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input, textarea{
    width: 300px;
    /* height: 30px; */
    border-radius: 25px;
    padding: 10px;
    margin: 12px;
    font-size: 20px;
    background-color: transparent;
    outline: none;
    border: 2px solid var(--text);
    color: var(--text);
    position: relative;
    z-index: 3;
}

.fName{
    top:-150px
}
.fEmail{
    top:-75px
}
.fMsg{
    top:0;
}

.label{
    position: absolute;
    padding: 0 25px;
    width: auto;
    font-size: 20px;
    color: var(--text);
    /* z-index: -1; */
    /* color: black;  */
}

.fName .label{
    top:25px
}
.fEmail .label{
    top:95px
}
.fMsg .label{
    top:165px
}

.labelUp{
    transform: translateY(-17px);
    z-index: 3;
    background-color: rgb(235, 235, 235);
    font-size: 13px;
    padding: 0 5px;
    color: red;
    transition: 1s;
    margin-left: 20px;
}

textarea:focus,
textarea:valid,
input:focus,
input:valid{
    /* transform: translateY(-7.5px); */
    border: 3px solid var(--primary);
}

textarea:focus~i,
textarea:valid~i,
input:focus~i,
input:valid~i{
    transform: translateY(-17px);
    z-index: 3;
    background-color: var(--whitebg);
    font-size: 13px;
    padding: 0 5px;
    color: var(--primary);
    transition: 1s;
    margin-left: 20px;
}

/* input:invalid~i{
    transform: translateY(-17px);
    z-index: 3;
    background-color: rgb(235, 235, 235);
    font-size: 13px;
    padding: 0 5px;
    color: red;
    transition: 1s;
    margin-left: 20px;
}
*/
.invalid{
    border: 3px solid red;
}

/*
#send{
    top: 75px;
}

input:focus,
input:valid{
    color: var(--primary);
    border: 3px solid var(--primary);
}

input:focus ~.label,
input:valid ~.label{
    color: var(--primary);
    transform: translateY(-15px);
} */

/* textarea:focus ~.label,
textarea:valid ~.label{
    color: var(--primary);
    transform: translateY(-15px);
} */

@keyframes wave {
    0%, 100% {
        border-radius: 70% 30% 72% 28% / 27% 61% 39% 73%;
    }
    50% {
        border-radius: 77% 23% 54% 46% / 40% 38% 62% 60%;
    }
}

@keyframes rotate1 {
    0%, 100% {
        rotate: 15deg;
    }
    50% {
        rotate: -15deg;
    }
}

@keyframes rotate2 {
    0%, 100% {
        rotate: -15deg;
    }
    50% {
        rotate: 15deg;
    }
}

@keyframes appear{
    0%{
        opacity: 0;
        scale: 0.5;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}

@keyframes side{
    0%{
        transform: translate(150% ,-150%);
        /* opacity: 0; */
    }
    100%{
        transform: translate(0, 0);
        /* opacity: 1; */
    }
}

@keyframes box{
    0%{
        transform: translateY(-20px);
        opacity: 1;
    }
    70%{
        opacity: .7;
    }
    100%{
        transform: translateY(-80vh) rotate(360deg);
        /* transform: scale(0); */
        opacity: 0;
    }
}

@keyframes scrollRevel{
    to{
        background-size: 100% 100%;
        color: #00000000;
    }
}

@media (max-width:1520px){
    #home{
        margin-top:20px ;
        align-content: start;
        height: 130vh;
    }
    #photo{
        margin-top: 125px;
    }
}

@media (max-width:1200px) {
    #nav{
        width: 100%;
        margin: 0;
    }
    #nav ul{
        width: 100%;
        justify-content: space-around;
        margin: 18px;
        padding: 0;
    }
    #content{
        display: flex;
        /* justify-content: center; */
        text-align: center;
        align-items: center;
    }
    #photo{
        justify-content: center;
    }
    .shape{
        top: -200px;
        left: -200px;
        width: 500px;
        height: 500px;
        scroll-snap-align: start;
    }
    #home{
        height: 140vh;
    }
    #low{
        display: none;
    }
    #certi{
        flex-direction: column;
    }
    .title{
        color: #000;
        width: 90%;
    }
    .flip-container{
        margin: 10px;
        width: 300px;
    }
    .card{
        width: 80%;
    }
    .img img{
        width: 300px;
    }
    #education{
        flex-direction: column;
    }
    .educationCard{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .edu{
        width: 90vw;
    }
    .card h2{
        font-size: 27px;
    }
    .card p{
        font-size: 15px;
    }
    .card h3{
        font-size: 20px;
    }
}

@media (max-width:650px) {
    #hello{
        font-size: 20px;
    }
    #name{
        font-size: 30px;
    }
    #designation{
        font-size: 20px;
    }
    #content{
        display: flex;
        text-align: center;
        align-items: center;
    }
    #top img{
        width: 250px;
        height: auto;
        margin-top: -65px;
    }
    #bottom{
        width: 235px;
        height: 250px;
    }
    #nav ul{
        display: none;
    }
    #home{
        height: 120vh;
        width: auto;
    }
    #about{
        padding: 0;
        width: 100vw;
    }
    .sectionText{
        width: 100%;
    }
    #techStack ul{
        padding: 0;
        /* display: flex;
        justify-content: center; */
    }
    #techStack ul li{
        height: auto;
        width: 70px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .hbottom h1{
        font-size: 90%;
    }
    .hTop h1{
        font-size: 90%;
    }
    .heading{
        /* font-size: 120%; */
        display: flex;
    }
    #pic img{
        width: 220px;
        height: 310px;
    }
    #c1, #c2{
        width: 250px;
        height: 330px;
    }
    .card{
        flex-direction: column;
        width: 80vw;
        height: 370px ;
    }
    .img{
        width: 80vw;
    }
    .img img{
        width: 100%;
        height: 150px;
    }
    .card h2{
        font-size: 22px;
    }
    .card p{
        font-size: 10px;
    }
    .card h3{
        font-size: 15px;
    }
    .details{
        align-items: center;
    }
    #contact{
        flex-direction: column;
        height: 110vh;
    }
    #contact .heading{
        width: 100%;
        margin: 0;
    }
    .form{
        height: auto;
        width: auto;
    }
    .formBox{
        padding: 10px;
        margin-bottom: 100px;
    }
    input, textarea{
        width: 250px;
    }
    #contactParent span:nth-of-type(2n){
        display: none;
    }
    #contactParent span:nth-of-type(11){
        display: none;
    }
}

::-webkit-scrollbar {
    width: 15px;
  }

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: var(--primary); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primDark); 
}


.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    z-index: 10;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out,
                transform 0.3s ease-in-out;
}



body{
    cursor: none;
}
.cursor-dot {
    width: 10px;
    height: 10px;
    background-color: var(--primary);
}

.cursor-dot-outline {
    width: 50px;
    height: 50px;
    background-color: var(--secondary);
}
