:root{
    --white: #ffffff;
    --black:#000;
    --blue:#4071f4;
    --lightBlue: #799DFF;
    --blackBg:#232323;
    --orange:#e1684d;
}

body{
    margin: 25px 0;
    padding: 20px 0;
    background-color: var(--white);
}

.shape{
    width: 800px;
    height: 800px;
    background: var(--blue);
    position: absolute;
    /* top: -100px; */
    left: -250px;
    opacity: .1;
    z-index: -1;
    animation: wave 4.0s ease-in-out infinite;
}

#nav{
    width: 100vw;
    background-color: var(--white);
    position: fixed;
    top: 0;
    height: 75px; 
    /* display: flex; */
}

#nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
    padding: 0;
    width: 50%;
    float: right;
}

.color{
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--blue);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked ~ .slider {
    background-color: var(--orange);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* input:checked  #designation{
    /* background-color: var(--blackBg); */
    /* color: var(--orange); */
/* } */

.dark-mode{
    background-color: var(--blackBg);
}

#container{
    /* background-color: var(--white); */
    font-family: Arial, Helvetica, sans-serif;
}

#home{
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

#content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#designation{
    color: var(--blue);
    /* max-width: 50vw; */
    /* font-size: 29px; */
    font-size: 29px;
    line-height: 40px;
    /* font-size: unset; */
}

#designation h2, #name h1, #hello h3{
    margin: 10px 0;
}

#name{
    color: var(--black);
    font-size: 47px;
    line-height: 80px;
}

#hello{
    color: var(--black);
    font-size: 29px;
}

#photo{
    display: flex;
    justify-content: center;
    margin-top: 125px;
    /* height: 500px; */
}

#top{
    height: 300px;
    width: auto;
    /* margin-top: -90px; */
}
#top img{
    animation: wave 4.0s ease-in-out infinite;
    margin-top: -110px;
    height: auto;
    width: 450px;
    /* border-radius: 50px; */
}

#bottom{
    z-index: -1;
    position: absolute;
    overflow: hidden;
    height: 450px;
    width: 425px;
    background-color: var(--blue);
    animation: wave 4.0s ease-in-out infinite;
}

.resume{
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: var(--blue);
    box-shadow: var(--lightBlue), 0 2px 2px 0;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.resumeDiv{
    width: 150px;
}

.resumeDiv .resume{
    margin-top: 20px;
}

@keyframes wave {
    0%, 100% {
      border-radius: 70% 30% 72% 28% / 27% 61% 39% 73%;
    }
    50% {
      border-radius: 77% 23% 54% 46% / 40% 38% 62% 60%;
    }
}

@media (max-width:1520px){
    #home{
        margin-top:20px ;
        align-content: start;
    }
}

@media (max-width:1200px) {
    #nav{
        width: 100%;
        margin: 0;
    }
    #nav ul{
        width: 100%;
        justify-content: space-around;
        margin: 18px;
        padding: 0;
    }
    #content{
        display: flex;
        /* justify-content: center; */
        text-align: center;
        align-items: center;
    }
    #photo{
        justify-content: center;
    }
    .shape{
        top: -200px;
        left: -200px;
        width: 500px;
        height: 500px;
    }
}

@media (max-width:650px) {
    #hello{
        font-size: 20px;
    }
    #name{
        font-size: 33px;
    }
    #designation{
        font-size: 20px;
    }
    #content{
        display: flex;
        text-align: center;
        align-items: center;
    }
    #top img{
        width: 250px;
        height: auto;
        margin-top: -65px;
    }
    #bottom{
        width: 235px;
        height: 250px;
    }
    #nav ul{
        display: none;
    }
}